node_modules/
dist/
.netlify/
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
*.zip
mingit/
.env

.env.*
!.env.example
*.local.js
*-firebase-adminsdk-*.json
gha-creds-*.json
.secret.local
.dev.vars
.wrangler/
